 body{
    margin: 0;
     text-align: center;
     position: relative;
      
 }
 
 
 .title{
       font-family: "Sacramento", cursive;
  position: absolute;
  right: 670px;
  top: 200px;
   font-size:    3rem;
   margin: 0;
    
      

   }

    .div1{
        margin-top: 0px;
         background-color:rgb(186, 231, 250) ;  
     padding-bottom: 25rem;
          padding-top:  30.625rem;
           padding-left: 12.5rem;
           padding-right: 12.5rem;
            
             
    }
   .p1{
    position: absolute;
    top: 18.75rem;
    right: 44.375rem;
    font-size: 1.200rem;
    margin: 0;
      
   }
   .span1 {
    text-decoration: underline;
   }
   .cloud1{
            background-color: rgb(186, 231, 250) ;
             width: 199px;
             height: 130px;
             position: absolute;
             top: 280px;
             left: 310px;
            
   }

   .cloud2{
    background-color:rgb(186, 231, 250) ;
     width: 230px;
             height: 140px;
             position: absolute;
             top: 100px;
             right: 390px;
             

   }

   .mountain1{
     background-color:rgb(186, 231, 250);
    margin: auto;
     width: 1520px;
             height: 400px;
             position: absolute;
             bottom: 0px;
             left: 0px;
   }
   
   .rehman{
            width: 200px;
            height: 200px;
            position: absolute;
             top: 1000px;
             left: 650px;
   }

   .hello1{
     position: absolute;
     bottom: 0px;
     top: 1220px;
     left: 712px;
      font-style: italic;
      color: rgb(125, 206, 241);
      padding: 70px auto 100px auto;
  }
  .p2{
              position: absolute;
               bottom: 0px;
                
               width: 500px;
     top: 1220px;
     left: 512px;
     padding: 70px 0 0 0;
     line-height: 25px;

     

  }

  
  
  